.experienceCard:hover {
    transform: rotateY(0.5turn);
  }
  .experienceCard {
    position: relative;
    border: 2px solid #6d73ff;
    height: 470px;
    width: 24%;
    transition: 1s ease-in-out;
    background-color: #1c0c2a;
    transform-style: preserve-3d;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  .experienceCard {
    width: 39%;
  }

  .card_face > div {
    padding: 7px;
    margin-top: 10px;
    width: 95%;
  }
  .card_face {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
  }

  .tataLogo {
    margin-left: 12%;
    height: 148px;
    width: 272px;
  }

  .experienceDate {
    float: left;
    font-size: 17px;
  }

  .experienceLocation > img {
    height: 23px;
  }
  .experienceLocation {
    display: flex;
    float: right;
    font-size: 16px;
  }
  .experienceDetail {
    width: 100px;
    height: 140%;
    font-size: medium;
    padding-top: 0px;
  }
  .backsideCard {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0.5turn);
  }
  
  .backsideCard > img {
    height: 160px;
    width: 368px;
  }
  .backsideCard img:nth-child(2) {
    height: 130px;
  }
  .backsideCard img:nth-child(3) {
    height: 169px;
  }


